@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #1a1a1a;
  scrollbar-width: none;
}
body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial;
  --webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.25rem;
  background-color: #fff;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 500;
  pointer-events: none;
}

.loader-spinner {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  animation: spin 0.3s linear infinite;
}

a[class] {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 7.5vw;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #1a1a1a;
}

span {
  position: relative;
  top: -0.075em;
  font-size: 16px;
  font-weight: 600;
}

.c_nav_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  padding: 1.5rem;
  z-index: 200;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0s;
  transition-delay: 0.4s;
  pointer-events: none;
}

.c_nav {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
}

.c_main {
  display: flex;
  gap: 4px;
}
.c_logo_svg {
  display: inline-block;
  pointer-events: auto;
}

.c_logo {
  width: 40px;
  height: 40px;
  margin-left: -4px;
  color: white;
  background-color: #241c18;
}

.c_logo:hover #background-hover {
  fill: #fff;
}

.c_logo_svg #background-idle {
  fill: #241c18;
  clip-path: polygon(
    0% 0%,
    0 100%,
    50% 100%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 100%,
    100% 100%,
    100% 0%
  );
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.c_logo #type {
  fill: #fff;
}

.c_logo_svg:hover #type {
  fill: #241c18;
  transition: fill 0.15s linear;
}

.c_logo_svg:hover #background-idle {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    1px 100%,
    1px 1px,
    calc(100% - 1px) 1px,
    calc(100% - 1px) calc(100% - 1px),
    0% calc(100% - 1px),
    1px 100%,
    100% 100%,
    100% 0%
  );
}

.c_nav_button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #fff;
  stroke-dashoffset: 0%;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0 1em;
}

.home {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.projects-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.project-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em;
  z-index: 2;
}

.project-nav .link {
  border-radius: 0.5em;
  background-color: #c6c6c6;
}

.project-page-scroll-progress {
  position: relative;
  flex: 2;
  height: 30px;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  border-radius: 1em;
  border: 1px solid #c6c6c6;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  padding: 0.5rem;
}

.project-scroll-prg-br {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  transform: scaleX(0%);
  transform-origin: center left;
  will-change: transform;
  z-index: -1;
  border-radius: 2.5em;
}

.project-hero {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  width: 100%;
  min-height: 30rem;
  text-align: center;
}
.project-footer {
  position: relative;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-decs {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.project-footer-copy {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.project-img {
  width: 50%;
  height: 75svh;
}

.next-project-progress {
  position: absolute;
  bottom: 25%;
  width: 50%;
  height: 4px;
  background-color: #c6c6c6;
}

.next-page-prg-br {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: scaleX(0%);
  will-change: transform;
}

.middle-text-svg {
  padding: clamp(18px, 0.0857142857 * calc(100 * (10.14px)), 120px);
}

.middle-text-svg svg {
  position: relative;
  width: 100%;
  aspect-ratio: 1200 / 210;
  overflow: visible;
  height: 100%;
  fill: white;
}

.c-logo_path {
  opacity: 0;
  transform: translate3d(0, 40%, 0);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: calc(var(--index) * 0.04s + 100ms);
}

.showreel {
  text-align: center;
  clip-path: inset(-1px 2%);
  display: flex;
  align-items: center;
  position: relative;
  backface-visibility: visible;
  height: 100svh;
}

.showreel::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(18px, 0.0857142857 * calc(100 * (10.14px)), 120px);
  padding-right: clamp(18px, 0.0857142857 * calc(100 * (10.14px)), 120px);
}

.c_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c_img_center {
  clip-path: inset(252px 430px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c_img_center video {
  overflow-clip-margin: content-box;
  overflow: clip;
  object-fit: contain;
}

.c_projects_section {
  width: 100%;
  height: 100vh;
  margin-top: 20vh;
  margin-bottom: 50vh;
}

.li_items {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) auto minmax(100px, 1fr);
  grid-template-areas: "images title .";
  column-gap: 1.5rem;
  align-items: center;
}

.li_items::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  transform: scale(0, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.li_items p {
  grid-area: title;
  font-size: clamp(40px, 0.08 * calc(100 * (12.5px)), 96px);
  font-weight: 250;
  line-height: 0.9;
}

.li_imgs {
  display: flex;
  gap: 4px;
  grid-area: images;
  align-items: flex-start;
  padding: 0.5em 0;
}

.c-imgs {
  transform: scale(0);
  opacity: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  max-width: 6.2em;
  position: relative;
}

.li_items:hover .c-imgs {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s, transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: calc(var(--imgIndex)) * 0.04s;
}

.inner-imgs-class {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-projects-list_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-projects-list_link:not(:hover) .c-text {
  opacity: 0;
  transform: translate3d(0, -1.25rem, 0);
  visibility: hidden;
}
.c-text {
  font-size: clamp(13px, 0.0108333333 * calc(100 * (12px)), 13px);
}

.c-projects-list_link:hover .c-text {
  transition: opacity 0.25s, transform 0.75s cubic-bezier(0.165, 0.84, 0.44, 1),
    visibility 0.25s;
}

.c-projects-list_title .item_i {
  vertical-align: top;
  font-weight: 400;
  line-height: 1.5;
}

.c_footer {
  width: 100%;
  background-color: #3d3c44;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.c_footer_top_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
}

.c_footer_nav {
  grid-column: 2/3;
}

.c_a_items {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  backface-visibility: visible;
  transition: opacity 0.3s;
  font-size: clamp(40px, 0.0108333333 * calc(100 * (12px)), 64px);
  font-weight: 400;
  line-height: 0.9;
  color: #fff;
  text-transform: capitalize;
}

.c_footer_bottom_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
  align-items: flex-end;
  margin-top: clamp(
    calc(0.0625rem * 96),
    176 / 14.4 * 1vw,
    calc(0.0625rem * 96)
  );
}
.c-footer_subnav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
}

.c-footer_subnav_item {
  font-weight: 400;
  font-size: clamp(13px, 0.0108333333 * calc(100 * 10px), 13px);
  line-height: 1.5;
}

.c_footer_logo_svg {
  grid-row: 1 /2;
  grid-column: 1/3;
}

.c-footer_subnav_list {
  width: calc((100% - 1.5rem) / 2);
}

.c_logo svg {
  width: 304px;
  height: 70px;
  fill: white;
}

.c-footer_legal {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.c-footer_legal {
  padding-top: 1.25rem;
  margin-top: 1.25rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

.h_ul_section:hover .c_li_items {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.h_ul_section .c_li_items:hover {
  opacity: 1;
}

/* @media screen and (min-width: 999px) {
  .showreel {
    flex-direction: column;
  }
  
  .c_text {
    margin-top: calc(
      clamp(
          calc(0.0625rem * 96),
          96/ 14.4 * 1vw,
          calc(0.0625rem * 96)
        ) * 1
    );
    flex-direction: column;
    text-align: center;
  }
  .o-container {
    padding-left: clamp(18px, 0.0857142857 * calc(10 * (10.14px)), 120px);
    padding-right: clamp(18px, 0.0857142857 * calc(10 * (10.14px)), 120px);
  }
  .li_imgs {
    display: none;
  }
  .c-projects-list_link {
    opacity: 0;
  }
  .c_footer_nav {
    grid-column: 1;
  }
  .c-footer_subnav {
    grid-column: 1;
    grid-row: 1 / 2;
    display: flex;
  }

  .c_footer_logo_svg {
    grid-row: 2/3;
    grid-column: 1;
  }

  .li_items p {
    grid-area: title;
    font-size: clamp(40px, 0.08 * calc(70 * (12.5px)), 96px);
    font-weight: 250;
    line-height: 0.9;
  }

  .c-footer_legal {
    grid-row: 3 / 4;
  }

  .c-footer_legal {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
} */
